.detalle-moneda {
    padding: 5vw;
}

.detalle-moneda__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.naming {
    display: flex;
    align-items: center;
}

.detalle-moneda__header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.detalle-moneda__links {
    display: flex;
    justify-content: space-around;
}